.white {
  color: #FFF;
}

.black {
  color: #000;
}

.nav-link {
  color: #cccccc;
}

.nav-link.tequila {
  color: #000;
}

.spirit-categories .spirit .spirit-family-name.bg-tequila h2 {
  color: #000;
}

.spirit-list-header h1 {
  color: #FFF;
}

.spirit-list-header.bg-tequila h1 {
  color: #000;
}

.whisky,
.listing.ul-whisky::before {
  color: #E88C00;
}

.gin,
.listing.ul-gin::before {
 color: #8900E8;
}

.rum,
.listing.ul-rum::before {
  color: #FF0D00;
}

.vodka,
.listing.ul-vodka::before {
  color: #0071FF;
}

.tequila,
.listing.ul-tequila::before {
  color: #FFFD00;
}

.other,
.listing.ul-other::before {
  color: #249600;
}

/* Background colours */
.bg-whisky {
  background-color: #E88C00;
}

.bg-gin {
  background-color: #8900E8;
}

.bg-rum {
  background-color: #FF0D00;
}

.bg-vodka {
  background-color: #0071FF;
}

.bg-tequila {
  background-color: #FFFD00;
}

.bg-other {
  background-color: #249600;
}

.section-heading.underline-whisky {
  border-bottom-color: #E88C00;
}

.section-heading.underline-gin {
  border-bottom-color: #8900E8;
}

.section-heading.underline-rum {
  border-bottom-color: #FF0D00;
}

.section-heading.underline-vodka {
  border-bottom-color: #0071FF;
}

.section-heading.underline-tequila {
  border-bottom-color: #FFFD00;
}

.section-heading.underline-other {
  border-bottom-color: #249600;
}

.spirit-list-header.bg-whisky h1::before,
.spirit-list-header.bg-whisky h1::after {
  border-color: #84540b transparent transparent transparent;
}

.spirit-list-header.bg-gin h1::before,
.spirit-list-header.bg-gin h1::after {
  border-color: #2A083E transparent transparent transparent;
}

.spirit-list-header.bg-rum h1::before,
.spirit-list-header.bg-rum h1::after {
  border-color: #90110a transparent transparent transparent;
}

.spirit-list-header.bg-vodka h1::before,
.spirit-list-header.bg-vodka h1::after {
  border-color: #0d3567 transparent transparent transparent;
}

.spirit-list-header.bg-tequila h1::before,
.spirit-list-header.bg-tequila h1::after {
  border-color: #949303 transparent transparent transparent;
}

.spirit-list-header.bg-other h1::before,
.spirit-list-header.bg-other h1::after {
  border-color: #124a01 transparent transparent transparent;
}

.spirit-categories .spirit .spirit-family-name.bg-whisky h2::before,
.result-listing .listing-drink-name.bg-whisky h3::before {
 border-color: transparent transparent #84540b transparent;
}

.spirit-categories .spirit .spirit-family-name.bg-gin h2::before,
.result-listing .listing-drink-name.bg-gin h3::before {
 border-color: transparent transparent #2A083E transparent;
}

.spirit-categories .spirit .spirit-family-name.bg-rum h2::before,
.result-listing .listing-drink-name.bg-rum h3::before {
 border-color: transparent transparent #90110a transparent;
}

.spirit-categories .spirit .spirit-family-name.bg-vodka h2::before,
.result-listing .listing-drink-name.bg-vodka h3::before {
 border-color: transparent transparent #0d3567 transparent;
}

.spirit-categories .spirit .spirit-family-name.bg-tequila h2::before,
.result-listing .listing-drink-name.bg-tequila h3::before {
  border-color: transparent transparent #949303 transparent;
}

.spirit-categories .spirit .spirit-family-name.bg-other h2::before,
.result-listing .listing-drink-name.bg-other h3::before {
 border-color: transparent transparent #124a01 transparent;
}

