.white {
  color: #FFF;
}

.whisky {
  background-color: #E88C00;
}

.gin {
  background-color: #8900E8;
}

.rum {
  background-color: #FF0D00;
}

.vodka {
  background-color: #0071FF;
}

.tequila {
  background-color: #FFFD00;
}

.other {
  background-color: #249600;
}

.spirit-categories .spirit .spirit-family-name.whisky h2::before,
.result-listing .listing-drink-name.whisky h3::before {
 border-color: transparent transparent #84540b transparent;
}

.spirit-categories .spirit .spirit-family-name.gin h2::before,
.result-listing .listing-drink-name.gin h3::before {
 border-color: transparent transparent #2A083E transparent;
}

.spirit-categories .spirit .spirit-family-name.rum h2::before,
.result-listing .listing-drink-name.rum h3::before {
 border-color: transparent transparent #90110a transparent;
}

.spirit-categories .spirit .spirit-family-name.vodka h2::before,
.result-listing .listing-drink-name.vodka h3::before {
 border-color: transparent transparent #0d3567 transparent;
}

.spirit-categories .spirit .spirit-family-name.tequila h2::before,
.result-listing .listing-drink-name.tequila h3::before {
 border-color: transparent transparent #949303 transparent;
}

.spirit-categories .spirit .spirit-family-name.other h2::before,
.result-listing .listing-drink-name.other h3::before {
 border-color: transparent transparent #124a01 transparent;
}