/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Cocktail app styles start */

html, body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

.cocktail {
	margin-top: 4rem;
}

.header {
	text-align: center;
}

.header h1 {
	font-size: 2rem;
}

.cocktail-content {
	max-width: 1200px;
	min-width: 300px;
	margin: 0 auto;
}

.search {
	margin: 2rem 0;
	text-align: center;
}

.search input {
	font-size: 16px;
}

.spirit-categories {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 2rem;
}

.spirit-categories .spirit {
	width: 30%;
	height: 300px;
	margin: 10px;
	position: relative;
}

.spirit-categories .spirit .img-wrapper {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.spirit-categories .spirit .img-wrapper img {
	object-fit: cover;
	width: 100%;
	min-height: 100%;
}

.spirit-categories .spirit .spirit-family-name {
	position: absolute;
	width: 90%;
	bottom: 10%;
	left: -10px;
	color: #FFF;
}

.spirit-categories .spirit .spirit-family-name.tequila {
	color: #000;
}

.spirit-categories .spirit .spirit-family-name h2 {
	font-size: 1.75rem;
	line-height: 3.25rem;
	text-align: center;
}

/* Can I put in comments */

.spirit-list-header {
	height: 2rem;
	padding: 1rem;
	margin-top: 2rem;
	text-align: center;
}

.spirit-list-header h1 {
	font-size: 1.75rem;
	position: relative;
	top: 4px;
}



.results-list {
	display: flex;
	background-color: #FFF;
	margin: 0 8px;
	padding-top: 1rem;
	z-index: -11;
}

.result-listing {
	position: relative;
	z-index: 10;
}

.result-listing .img-wrapper {
	width: 250px;
	height: 250px;
	margin: 10px;
	overflow: hidden;
	position: relative;
}

.result-listing .img-wrapper img {
	object-fit: cover;
	width: 250px;
	height: 250px;
}

.result-listing .listing-drink-name {
	position: absolute;
	text-align: center;
	bottom: 20px;
	width: 240px;
	left: 5px;
}

.result-listing .listing-drink-name h3 {
	color: #FFF;
	position: relative;
	top: 6px;
}

.result-listing .listing-drink-name.tequila h3 {
	color: #000;
}

.spirit-list-header h1::before,
.spirit-categories .spirit .spirit-family-name h2::before,
.result-listing .listing-drink-name h3::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  z-index: -10;
}

.spirit-list-header h1::after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	z-index: -10;
}


.spirit-categories .spirit .spirit-family-name h2::before {
	top: -20px;
	border: 10px solid;
}

.result-listing .listing-drink-name h3::before {
	top: -16px;
	border: 5px solid;
}

.spirit-list-header h1::before,
.spirit-list-header h1::after {
    bottom: -42px;
    border: 11px solid;
    border-color: #242424 transparent transparent transparent;
}

.spirit-list-header h1::before {left: -16px;}
.spirit-list-header h1::after {right: -16px;}





