/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Cocktail app styles start */

html, body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

.cocktail {
	margin-top: 4rem;
}

.header {
	text-align: center;
}

.header h1 {
	font-size: 2rem;
}

.cocktail-content {
	max-width: 1200px;
	min-width: 300px;
	margin: 0 auto;
}


.search {
	margin: 2rem 0;
	text-align: center;
}

.search input {
	font-size: 16px;
}

.spirit-categories {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.spirit {
	width: 45%;
	border: 2px solid darkblue;
	height: 200px;
	margin-bottom: 2rem;
	border-radius: 5%;
}

.spirit.whisky {
	background-color: #E88C00;
}

.spirit-list-header {
	height: 2rem;
	padding: 1rem;
	margin-top: 2rem;
	text-align: center;
}

.spirit-list-header h1 {
	font-size: 1.5rem;
}

.w-100 {
	width: 100%
}

.white {
	color: #FFF;
}

.whisky {
	background-color: #E88C00;
}

.gin {
	background-color: #8900E8;
}

.rum {
	background-color: #FF0D00;
}

.vodka {
	background-color: #0071FF;
}

.tequila {
	background-color: #FFFD00;
}

.other {
	background-color: #249600;
}

.results-list {
	display: flex;
}

.result-listing {
	position: relative;
}

.result-listing .img-wrapper {
	width: 250px;
	height: 250px;
	margin: 10px;
	overflow: hidden;
	position: relative;
}

.result-listing .img-wrapper img {
	max-width: auto;
	height: 250px;
}

.result-listing .listing-drink-name {
	position: absolute;
	text-align: center;
	bottom: 20px;
	width: 240px;
	// padding: 8px;
	left: 5px;
}

.result-listing .listing-drink-name h3 {
	color: #FFF;
}

.result-listing .listing-drink-name.whisky h3::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    z-index: -10;
    border: 5px solid;
    border-color: transparent transparent #ad6902 transparent;
}
.result-listing .listing-drink-name h3::before {left: 0;}
